Source: sdwire-utils
Section: utils
Priority: optional
Maintainer: Talha Can Havadar <havadartalha@gmail.com>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               pybuild-plugin-pyproject,
               python3-all,
               python3-click,
               python3-ftdi,
               python3-poetry,
               python3-usb
Testsuite: autopkgtest-pkg-python
Standards-Version: 4.6.2
Homepage: https://badgerd.nl/
Rules-Requires-Root: no
Vcs-Git: https://github.com/Badger-Embedded/sdwire-cli.git
Vcs-Browser: https://github.com/Badger-Embedded/sdwire-cli

Package: python3-sdwire
Section: python
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}
Description: CLI application to control sdwire devices
 Application also supports legacy SDWireC and non-Badger'd sdwires as well as
 new Badgerd SDwire3 devices.
